.app {
  &::before {
    content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: repeating-linear-gradient(-45deg, rgba(202, 230, 202, 0.25) 0%, rgba(228, 243, 229, 0.25) 1%),
      repeating-linear-gradient(45deg, rgba(202, 230, 202, 0.25) 0%, rgba(228, 243, 229, 0.25) 1%),
      radial-gradient(rgba(182, 192, 47, 1) 0%, rgba(29, 83, 19, 0.808) 100%);
  }
}
